

<div class="row">
    <div class="col">
        <button type="submit" class="genric-btn info form-control" asp-route-id="@Model">Update</button>
    </div>

    <div class="col">
        <button asp-action="Index" class="genric-btn warning form-control">Back To List</button>
    </div>

</div>